.spacer {
    height: 1000px;
  }

.circle{
  position: fixed;
  left: 48%;
  background-color: blue;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.splat{
  position: relative;
  top: 800px;
  left: 46%;
  background-color: red;
  height: 20px;
  width: 80px;
}

.fixed-element{
  position: relative;
  top: 700px;
  left: 60%;
}